@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: background-color 0.1s, color 0.05s;
    font-family: "Plus Jakarta Sans", sans-serif;
  }

.cursor {
    animation: move 1s ease-in-out infinite alternate;
}

/* .cards:has(.card:hover) .card:not(:hover) {
    op
  } */


/* Chrome, Safari and Opera */
.tabs::-webkit-scrollbar {
    display: none;
}

.tabs {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes move {
    0% {
        transform: translateY(1rem) translateX(-1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}