@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: background-color 0.1s, color 0.05s;
    font-family: "Outfit", sans-serif;
}

.heading {
    font-family:  "Syne", sans-serif;
}

.cursor {
    animation: move 1s ease-in-out infinite alternate;
}

/* Chrome, Safari and Opera */
.tabs::-webkit-scrollbar {
    display: none;
}

.tabs {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@keyframes move {
    0% {
        transform: translateY(1rem) translateX(-1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}